@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<div>
    <h1>Ürün Takip Sistemi</h1>   
</div>

<div class="row">
    <div class="col-md-4">
        
        <p><a class="btn btn-default" href="http://localhost:57696/FabricaLogin/Index">Fabrika Numune Takip &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="http://localhost:57696/CustomerProductInfo/Index">Müşteri Numune Takip &raquo;</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>