@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<div>
    <h1>          </h1>   
</div>

<div class="row">
    <div class="col-md-4">
        
        <p><a class="btn btn-default" href="/FabricaLogin/Index">Fabrika Numune Takip &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/CustomerProductInfo/Index">Müşteri Numune Takip &raquo;</a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>